{% if props.icon %}
  <div class="image">
    {% if props.url %}<a href="{{ props.url }}">{{ props.icon|raw }}</a>{% else %}{{ props.icon|raw }}{% endif %}
  </div>
{% endif %}
{% if props.has_label and props.label %}
  <div class="title"><h3>{{ props.label.0 }}</h3></div>
{% endif %}
<div class="content"><div class="text">
  {{ props.text|raw }}
  {% if props.url and props.link_title.0 %}<a class="button" href="{{ props.url }}">{{ props.link_title }}</a>{% endif %}</p>
</div></div>
