{% if props.icon_media %}
  <div class="image">
    {% set icon_markup = drupal_entity('media', props.icon_media.id, 'default') %}
    {% if props.url %}<a href="{{ props.url }}">{{ icon_markup }}</a>{% else %}{{ icon_markup }}{% endif %}
  </div>
{% endif %}
{% if props.has_label and props.label %}
  <div class="title"><h3>{{ props.label }}</h3></div>
{% endif %}
<div class="content"><div class="text">
  {{ props.text|raw }}
  {% if props.url and props.link_title %}<a class="button" href="{{ props.url }}">{{ props.link_title }}</a>{% endif %}</p>
</div></div>
