{% if props.image %}
  <div class="image">
    {% if props.url %}<a href="{{ props.url }}">{{ props.image|raw }}</a>{% else %}{{ props.image|raw }}{% endif %}
  </div>
{% endif %}
{% if props.has_label and props.label %}<div class="title"><h3>{{ props.label }}</h3></div>{% endif %}
<div class="content"><div class="text">
  <blockquote><span class="copy">{{ props.text|raw }}</span></blockquote>
  {% if props.url and props.link_title %}<p><a class="button" href="{{ props.url }}">{{ props.link_title }}</a></p>{% endif %}
</div></div>
